tr,
td,
th {
  border: 1px solid black;
  text-align: center;
}
th,
td {
  width: 200px;
}
.body > div {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body > div > h3 {
  color: blue;
  text-align: center;
}

.body > div > table {
  border: 1px solid black;
  align-items: center;
}
